* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --gray-800: #1E293B;
    --gray-600: #475569;
}

header {
    background-image: url(./Imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;
}

/* 1 rem=16px */
/* O px não se adapta a pagina */

main {
    padding-inline: 1.5rem;
}

.descricao {
    margin-bottom: 2.5rem;
}

.descricao h1{
    color:var(--gray-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p{
    font-size: 0.8125rem;
    color: var(--gray-600);
}

.input-box{
    display: flex;
    flex-direction: column;
}

.login label{
    font-size: 0.875rem;
    color: var(--gray-800);
    font-weight: 600;
}


